.card {
  padding: 0px;
  margin-bottom: 30px;
}
.back-btn {
  margin-top: 15px;
}
.fix-badge{
  position: absolute;
  top: 10px;
  right: 10px;
  color: #fff;
}
.fix-badgeL{
  position: absolute;
  top: 10px;
  left: 10px;
  color: #fff;
}
.progress{
  height: 4px;
  margin-top: 5px;
}
.stars{
  position: relative;
    width: 100%;
    top: -19px;
}
.stars-outline{
  position: absolute;
  left: 85px;
}
.stars-filled{
  position: absolute;
  white-space: nowrap;
  overflow: hidden;
  left: 85px;
}
.bg-success{
  fill: red !important;
}